/* .box-main {
    background-color: #6C0404;
    color: #fff;
    .box-anuncio {
    display: flex;
    img, h3, p, button {
        flex: auto;
    }
    .python-burguer {
        width: 200px;
    }
    }
}
 */
