.box-global {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 3em;

    .box-main {
        padding-top: 4.2em;
        display: flex;
        flex-direction: column;
        
        .carousel {
            height: 50vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
    
            .carousel-indicators {
                position: relative;
                top: 100%;
                button {
                    position: relative;
                }
                
            }
    
            .carousel-indicators > button {
                height: 20px;
                width: 20px;
                border-radius: 100%;
                cursor: pointer;
            }
    
            .active {
                background-color: #FF3D00;
            }
    
                .carousel-item {
    
                    .img-burguer {
                        height: 43vh;
                        width: 100vw;
                    }
    
                    .carousel-caption {
                        height: 345px;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        text-align: justify;
                        .logo-icon {
                            width: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            
                        }
    
                        .button-pedir {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            height: 40px;
                            width: 130px;
                            border-radius: 10px;
                            font-size: 23px;
                            font-weight: 500;
                            background-color: #FF3D00;
                        }
    
                        .box-preco {
                            height: 70px;
                            width: 50px;
                            display: flex;
                            flex-direction: row;
                            align-items: baseline;
                            gap: 4px;
                            
                            :nth-child(2){
                                font-size: 2em;
                                font-weight: 900;
                            }
                        }
                    }
                }
        }
      
    }

    .box-main-2 {
        height: 30vh;
        width: 100vw;
        .carousel {
            height: 30vh;
            width: 100vw;
            display: flex;
            gap: 3em;
            .carousel-inner {
                height: 25vh;
                background-color: #FFA0B7;
                .carousel-item {
                    height: 25vh;
                    width: 100vw;
                    img {
                        height: 26vh;
                        width: 47vw;
                    }
                    .carousel-caption {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        height: 20vh;
                        width: 320px;
                        .box-info {
                            font-size: 16px;
                            font-weight: bold;
                           display: flex;
                           flex-direction: column;
                          
                             .box-descricao {
                          
                            p {
                                
                            }
                        }
                        .box-preco {
                            display: flex;
                        }
                        .button-pedir {

                        }
                        }
                       
                }
            }
        }
    }
}

}