.rodape {
   height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background-color: rgba(0, 0, 0, 0.567);
    color: #fff;
    font-size: 8px;

    .rodape-phone {
        display: flex;
        align-items: baseline;
    }

    .rodape-local {
        display: flex;
        align-items: baseline;
    }

    .rodape-insta {
        display: flex;
        align-items: baseline;
    }
    img {
        width: 20px;
        height: 20px;
    }
}