.cabecalho {
    display: flex;
    height: 5em;
    width: 100vw;
    background-color: #00000073;
    color: #fff;
    align-items: center;
    position: fixed;
    z-index: 1000;
    h1 {
        font-family: 'Fira Code';
        font-size: 2.8em;
        font-weight: bold;
        text-indent: .5em;
    }

    .logo {
        margin-left: .5em;
    }

    .navbar {
        align-items: center;
        display: flex;
        gap: 2em;
        margin-left: auto;
        margin-right: 1.5em;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 1.3em;
            font-weight: 500;
        }
        .delivery {
                display: flex;
                align-items: center;
                gap: .2em;
                background-color: #FF0000;
                padding: .4em;
                border-radius: 10px;
                font-size: 1.5em;
                font-weight: 900;
            }

        .delivery:hover {
            background-color: #ff0000b7;
        }

        .cart {
        margin-right: 10px;
        background-color: #F87A05;
        border-radius: 10px;
        padding: 10px;
        
        }

        .cart:hover {
        background-color: #FC4C00;
        border-radius: 10px;
        padding: 10px;
        }
    }
    .navbar > .nav-item:hover {
        background-color: #FC4C00;
        border-radius: 10px;
        padding: 10px;
    }

    
}